<ng-container *ngIf="!locked">
  <mat-toolbar color="secondary" [class.noEntry]="entry && !entry.cZaznamu">
    {{ entry.karta.nazev }}
  </mat-toolbar>
  <div id="customer-info">
    <mat-icon matListIcon>contact_phone</mat-icon>
    <table>
      <tr *ngIf="entry.karta.kontaktniOsoba">
        <th>kontaktní osoba</th>
        <td>{{ entry.karta.kontaktniOsoba }}</td>
      </tr>
      <tr *ngIf="entry.karta.mobil">
        <th>mobil</th>
        <td>{{ entry.karta.mobil }} <small *ngIf="entry.karta.mobilPoznamka">{{ entry.karta.mobilPoznamka }}</small></td>
      </tr>
      <tr *ngIf="entry.karta.telefon">
        <th>telefon</th>
        <td>{{ entry.karta.telefon }}<small *ngIf="entry.karta.telefonPoznamka">{{ entry.karta.telefonPoznamka }}</small></td>
      </tr>
      <tr *ngIf="
      entry.karta.dUlice ||
      entry.karta.dMesto ||
      entry.karta.dPsc ||
      entry.karta.dStat
    ">
        <th>adresa</th>
        <td>
          <span *ngIf="entry.karta.dUlice">{{ entry.karta.dUlice
          }}<span *ngIf="entry.karta.dMesto || entry.karta.dPsc || entry.karta.dStat">,
            </span></span>
          <span *ngIf="entry.karta.dMesto">{{ entry.karta.dMesto
          }}<span *ngIf="entry.karta.dPsc || entry.karta.dStat">, </span></span>
          <span *ngIf="entry.karta.dPsc">{{ entry.karta.dPsc }}<span *ngIf="entry.karta.dStat">, </span></span>
          <span *ngIf="entry.karta.dStat">{{ entry.karta.dStat }}</span>
        </td>
      </tr>
      <tr *ngIf="entry.karta.gps">
        <th>GPS</th>
        <td>
          <code>{{ entry.karta.gps }}</code>
          <small *ngIf="entry.karta.presnostGps">
            ({{ entry.karta.presnostGps }})</small>
          <br />
          <code>{{ entry.karta.gps | gpsDegrees }}</code> &nbsp;
          <a [href]="
          'https://www.google.com/maps/search/' + (entry.karta.gps | gpsDegrees)
        " target="_blank">vyhledat
            na Google Maps</a>
        </td>
      </tr>
      <tr *ngIf="routeCoords">
        <th>Trasa</th>
        <td>
          <span><a [href]="'https://www.google.com/maps/dir/'+routeCoords">Trasa na Google Maps</a></span>
        </td>
      </tr>
      <tr *ngIf="entry.karta.fakturace && entry.karta.fakturace != 'papírově'">
        <th>Fakturace</th>
        <td>
          <span>{{ entry.karta.fakturace }}</span>
        </td>
      </tr>
      <tr *ngIf="entry.karta.poznamkaFakturace">
        <th>Pozn. fakturace</th>
        <td>
          <span>{{ entry.karta.poznamkaFakturace }}</span>
        </td>
      </tr>
    </table>

    <p *ngIf="entry.staloSeKdy">
      <mat-icon matListIcon>lock</mat-icon>
      <i>Tento záznam je již uzavřený (zamknutý proti úpravám)</i>
    </p>
    <p *ngIf="!entry.cZaznamu">
      <mat-icon matListIcon>edit</mat-icon>
      <i>Tento záznam byl vytvořený řidičem (není v původním plánu)</i>
    </p>
    <p *ngIf="entry.text">
      <mat-icon matListIcon>info</mat-icon>
      {{ entry.text }}
    </p>

  </div>

  <div id="save-buttons">
    <button *ngIf="entry.changed" mat-raised-button color="primary" (click)="upsertRidicZaznam(false)"
      [disabled]="locked">
      uložit
    </button>
  </div>

  <form class="planItem-form" *ngIf="entry.ridicZaznam">
    <mat-accordion multi="true" displayMode="flat">
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Stav závozu </mat-panel-title>
          <mat-panel-description>
            {{ entry.ridicZaznam.stavZavozu }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-radio-group [(ngModel)]="entry.ridicZaznam.stavZavozu" name="stavZavozu" (ngModelChange)="onChange()"
          [disabled]="!!entry.staloSeKdy">
          <mat-radio-button class="stav-zavozu-button " *ngFor="let stav of getObjectKeys(config.zaznam.zavezeno)"
            [value]="stav">
            <span class="stav-zavozu-content">{{
            config.zaznam.zavezeno[stav]
          }}</span>
          </mat-radio-button>
        </mat-radio-group>
      </mat-expansion-panel>

      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Servis </mat-panel-title>
          <mat-panel-description [innerHTML]="extractServis(entry.ridicZaznam)"></mat-panel-description>
        </mat-expansion-panel-header>

        <mat-checkbox *ngIf="this.entry.ridicZaznam.ridicServis && this.entry.ridicZaznam.ridicServis.length"
          [(ngModel)]="entry.ridicZaznam.servisTerminStandard" name="servisTerminStandard" (ngModelChange)="onChange()"
          [disabled]="!!entry.staloSeKdy">standardní termín (1 týden)</mat-checkbox>
        <i *ngIf="!entry.ridicZaznam.servisTerminStandard">termín uveďte v poznámce</i>

        <table *ngIf="this.entry.ridicZaznam.ridicServis && this.entry.ridicZaznam.ridicServis.length" id="servis">
          <thead>
            <tr>
              <th>množství, typ</th>
              <th>operace</th>
              <th>poznámka</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="!entry.ridicZaznam.ridicServis">
            <tr>
              <td colspan="4"><i>Nejsou zadány žádné položky</i></td>
            </tr>
          </tbody>
          <tbody *ngIf="!!entry.ridicZaznam.ridicServis">
            <tr *ngFor="let item of entry.ridicZaznam.ridicServis; index as i" [class.selected]="editedServisId == i"
              (click)="servisEdit(i)">
              <td>
                <mat-form-field appearance="outline" *ngIf="editedServisId == i">
                  <input matInput type="number" name="mnozstvi[i]" #mnozstvi placeholder="množství"
                    [(ngModel)]="item.mnozstvi" (ngModelChange)="onChange()" (blur)="onChange()"
                    [disabled]="!!entry.staloSeKdy" />
                </mat-form-field>
                <span *ngIf="editedServisId != i"> {{ item.mnozstvi }}× </span>
                <mat-form-field appearance="outline" *ngIf="editedServisId == i">
                  <mat-select placeholder="Typ" [(value)]="item.typ" (selectionChange)="onChange()" (blur)="onChange()"
                    [disabled]="!!entry.staloSeKdy">
                    <mat-option *ngFor="let servis_typ of getObjectKeys(config.servis)" [value]="servis_typ">
                      {{ servis_typ }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <span *ngIf="editedServisId != i"> {{ item.typ }} </span>
                <button id="re-count-button" mat-stroked-button *ngIf="editedServisId == i"
                  [disabled]="!!entry.staloSeKdy || ( !!item.poznamka && item.poznamka.includes('přepočítat množství') )"
                  (click)="item.poznamka = (item.poznamka ? item.poznamka + ', ' : '') + 'přepočítat množství'"
                  (ngModelChange)="onChange()" (blur)="onChange()">
                  Přepočítat
                </button>
              </td>
              <td>
                <div *ngIf="editedServisId == i">
                  <mat-checkbox *ngFor="let servis_operace of config.servis[item.typ]"
                    [checked]="isOperationChecked(servis_operace, item.operace)" (change)="
                    operationChange($event, servis_operace, item.operace, i)
                  " [disabled]="!!entry.staloSeKdy">{{ servis_operace }}</mat-checkbox>
                </div>
                <span *ngIf="editedServisId != i">
                  <span *ngFor="
                    let operace of this.parseOperations(item.operace);
                    last as isLast
                  ">{{ operace }}<span *ngIf="!isLast">, </span></span>
                </span>
              </td>
              <td>
                <div *ngIf="editedServisId == i">
                  <mat-form-field appearance="outline">
                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
                      cdkAutosizeMaxRows="5" [(ngModel)]="item.poznamka" name="servisPoznamka"
                      (ngModelChange)="onChange()" (blur)="onChange()" [disabled]="!!entry.staloSeKdy"></textarea>
                  </mat-form-field>
                </div>
                <span *ngIf="editedServisId != i">{{ item.poznamka }}</span>
              </td>
              <td>
                <button *ngIf="editedServisId == i" mat-stroked-button (click)="servisDelete(i)"
                  [disabled]="!!entry.staloSeKdy">
                  smazat
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <fieldset *ngIf="entry.ridicZaznam && !entry.staloSeKdy" id="servis-types">
          <legend>přidat novou položku</legend>
          <button *ngFor="let typ of getObjectKeys(config.servis)" mat-fab (click)="servisPridat(typ)">
            {{ typ }}
          </button>
        </fieldset>
      </mat-expansion-panel>

      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Nový pás </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="outline">
          <input matInput type="number" name="mnozstvi" placeholder="množství" [disabled]="!!entry.staloSeKdy
          || (!!entry.ridicZaznam.poznamka && entry.ridicZaznam.poznamka.includes('× nový pás'))"
            [(ngModel)]="entry.ridicZaznam.mnozstviNovych" (ngModelChange)="onChange()" (blur)="onChange()" />
        </mat-form-field>
        <button mat-stroked-button [disabled]="!!entry.staloSeKdy || (!!entry.ridicZaznam.poznamka
        && entry.ridicZaznam.poznamka.includes('× nový pás'))" (click)="entry.ridicZaznam.poznamka = (entry.ridicZaznam.poznamka ? entry.ridicZaznam.poznamka + ', ' : '')
              + (entry.ridicZaznam.mnozstviNovych ? entry.ridicZaznam.mnozstviNovych : '?') + '× nový pás'">
          Přidat nový pás
        </button>
      </mat-expansion-panel>

      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Poznámka </mat-panel-title>
          <mat-panel-description>
            {{ entry.ridicZaznam.poznamka }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field appearance="outline">
          <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5" [(ngModel)]="entry.ridicZaznam.poznamka" name="poznamka" (ngModelChange)="onChange()"
            (blur)="onChange()" [disabled]="!!entry.staloSeKdy"></textarea>
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</ng-container>
<div class="app-loading" *ngIf="locked">
  <div class="logo">ukládám<div class="dots">záznam</div></div>
  <svg class="spinner" viewBox="25 25 50 50">
    <circle
      class="path"
      cx="50"
      cy="50"
      r="20"
      fill="none"
      stroke-width="2"
      stroke-miterlimit="10"
    />
  </svg>
</div>
