#customer-info {
  margin: 1em;
}

#save-buttons {
  right:50px;
  top:80px;
  position:fixed;
}

#servis {
  margin-top: 1em;
  border-collapse: collapse;
}
#servis th {
  background-color: rgba(0, 0, 0, 0.04);
  font-weight: bold;
}
#servis td, #servis th {
  border: 1px solid /*lightgray*/;
  padding: .3em;
}
#servis tr.selected {
  background-color: rgba(0, 0, 0, 0.01);
}
#servis-types button {
  margin: .3em;
}
#re-count-button {
  margin: 1.0em;
}
.stav-zavozu-button, .stav-zavozu-content {
  padding: 1.0em 0em;
}
mat-radio-group {
  display: inline-flex;
  flex-direction: column;
}

mat-radio-button {
  margin: 5px;
}

mat-checkbox {
  flex-direction: column;
  display: flow-root;
  padding: 1.0em 0em;
}
