.cdk-table {
  border-collapse: collapse;
  width: 100%;
}

.cdk-row:nth-child(odd) {
  background-color: #eee;
}
.cdk-row:hover {
  background-color: #ddd;
}
.cdk-cell {
  padding: 0.5em;
  border: 1px solid #ccc;
}

#plany .cdk-row {
  cursor: pointer;
}
.cdk-cell.cdk-column-zmeneno {
  color: #666;
  font-size: 0.8em;
  text-align: center;
}
