<div class="app-loading" *ngIf="!(plany$ | async)">
  <div class="logo">načítám<div class="dots">plány řidiče</div></div>
  <svg class="spinner" viewBox="25 25 50 50">
    <circle
      class="path"
      cx="50"
      cy="50"
      r="20"
      fill="none"
      stroke-width="2"
      stroke-miterlimit="10"
    />
  </svg>
</div>
<div
  class="container"
  [class.is-mobile]="isHandset$ | async"
  *ngIf="(plany$ | async)"
>
  <mat-toolbar [color]="isProduction ? 'primary' : 'warn' " class="toolbar">
    <h1 class="app-title">Plány závozu</h1>
    <span class="navbar-fill"></span> {{ user ? user.jmeno : '' }} (<a
      [routerLink]="['/login']"
      id="logout"
      >{{ user ? 'odhlásit se' : 'přihlásit se' }}</a
    >)
  </mat-toolbar>
  <main [style.marginTop.px]="(isHandset$ | async) ? 56 : 0">
    <table id="plany" cdk-table [dataSource]="plany$">
      <ng-container cdkColumnDef="datum">
        <th cdk-header-cell *cdkHeaderCellDef>Datum</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.datum | date: 'd.M.' }}</td>
      </ng-container>

      <ng-container cdkColumnDef="nazev">
        <th cdk-header-cell *cdkHeaderCellDef>Název plánu</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.nazev }}</td>
      </ng-container>

      <ng-container cdkColumnDef="vozidlo">
        <th cdk-header-cell *cdkHeaderCellDef>Vozidlo</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.vozidlo }}</td>
      </ng-container>

      <ng-container cdkColumnDef="ridic">
        <th cdk-header-cell *cdkHeaderCellDef>Řidič</th>
        <td cdk-cell *cdkCellDef="let row">
          <div *ngIf="row.prvniRidic">{{ row.prvniRidic.jmeno }}</div>
          <div *ngIf="row.druhyRidic">{{ row.druhyRidic.jmeno }}</div>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="zmeneno">
        <th cdk-header-cell *cdkHeaderCellDef>Naposled změněno</th>
        <td cdk-cell *cdkCellDef="let row">
          {{ row.zmeneno | date: 'd. M. H:mm' }}
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr
        cdk-header-row
        *cdkHeaderRowDef="['datum', 'nazev', 'vozidlo', 'ridic', 'zmeneno']"
      ></tr>
      <tr
        cdk-row
        *cdkRowDef="
          let row;
          columns: ['datum', 'nazev', 'vozidlo', 'ridic', 'zmeneno']
        "
        [routerLink]="['/plan', row.cPlanu]"
      ></tr>
    </table>
  </main>
</div>
