<ng-container *ngIf="plan">
  <div class="container" [class.is-mobile]="isHandset$ | async">
    <mat-toolbar [color]="isProduction ? 'primary' : 'warn' " class="toolbar" class="toolbar">
      <button mat-icon-button [routerLink]="['/']">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="app-title">
        <small>{{ plan.datum | date: 'd. M.' }}</small> - {{ plan.nazev }}
      </h1>
      <span class="navbar-fill"></span>
      {{ loggedUser ? loggedUser.jmeno : '' }} (<a
        [routerLink]="['/login']"
        id="logout"
        >{{ loggedUser ? 'odhlásit se' : 'přihlásit se' }}</a
      >)
    </mat-toolbar>
    <mat-sidenav-container
      class="sidenav-container"
      [style.marginTop.px]="(isHandset$ | async) ? 64 : 0"
    >
      <mat-sidenav
        #snav
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [fixedInViewport]="isHandset$ | async"
        fixedTopGap="64"
        opened="true"
      >
        <mat-nav-list>
          <mat-list-item
            *ngFor="let _zaznam of plan.zaznamy; let i = index"
            (click)="selectEntry(i)"
            [class.selected]="i === selectedEntryIndex"
            [class.noEntry]="!_zaznam.cZaznamu"
            [class.filled]="
              i != selectedEntryIndex &&
              _zaznam.ridicZaznam &&
              _zaznam.ridicZaznam.id
            "
          >
            <b matLine>{{ _zaznam.karta.nazev }}</b>
          </mat-list-item>
        </mat-nav-list>
        <button
          mat-icon-button
          (click)="selectEntry(null)"
          id="new_entry"
          [hidden]="!selectedEntryIndex"
        >
          <mat-icon>add_circle</mat-icon><i>nový záznam</i>&hellip;
        </button>
      </mat-sidenav>

      <mat-sidenav-content>
        <mat-card *ngIf="plan.popis">
          <mat-card-content id="plan-header">
            {{ plan.popis }}
          </mat-card-content>
        </mat-card>
        <ng-container *ngIf="entry">
          <app-entry
            [entry]="entry"
            [routeCoords]="routeCoords"
            [user]="loggedUser"
            (saveEvent)="selectEntry(selectedEntryIndex + 1)"
          ></app-entry>
        </ng-container>
        <form id="form-client" [hidden]="selectedEntryIndex !== null">
          <mat-form-field>
            <input
              type="text"
              placeholder="Vyberte zákazníka"
              matInput
              [formControl]="clientControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              [displayWith]="displayClientFn"
            >
              <mat-option
                *ngFor="let client of (filteredClients | async)"
                [value]="client"
              >
                {{ client.nazev }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button
            mat-raised-button
            *ngIf="clientControl.value && clientControl.value.cKarty"
            (click)="createEntry(clientControl.value)"
          >
            Vytvořit záznam pro zákazníka {{ clientControl.value.nazev }}
          </button>
        </form>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</ng-container>
<div class="app-loading" *ngIf="!plan">
  <div class="logo">načítám<div class="dots">plán závozu</div></div>
  <svg class="spinner" viewBox="25 25 50 50">
    <circle
      class="path"
      cx="50"
      cy="50"
      r="20"
      fill="none"
      stroke-width="2"
      stroke-miterlimit="10"
    />
  </svg>
</div>
