mat-list-item {
  padding: 1em 0;
}

mat-list-item.selected {
  background-color: rgba(0, 0, 0, 0.1);
  list-style-position:inside;
  border: 2px solid black;
  color: #3f51b5;
}

#new_entry mat-icon {
  margin: 0.5em;
}

#form-client {
  padding: 1em;
}
#form-client mat-form-field {
  display: block;
}

.noEntry {
  background: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 10px,
    #eee 10px,
    #eee 20px
  );
}

.noEntry.selected {
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.04),
    rgba(0, 0, 0, 0.04) 10px,
    #eee 10px,
    #eee 20px
  );
}

.filled {
  background-color: rgba(0, 0, 0, 0.1);
}
